
x-backend-template: &backend-template
  depends_on:
    - redis
  networks:
    - backend
    - payment-processor
  environment:
    - APP_DEFAULT_PAYMENT_PROCESSOR_URL=http://payment-processor-default:8080
    - APP_FALLBACK_PAYMENT_PROCESSOR_URL=http://payment-processor-fallback:8080
    - APP_REDIS_URL=redis://redis:6379
    - APP_SERVER_KEEPALIVE=200
    - APP_REPORT_URL=/app/reports
  deploy:
    resources:
      limits:
        cpus: "0.55"
        memory: "30MB"

services:
  nginx:
    image: nginx:latest
    hostname: nginx
    ports:
      - "9999:9999"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - backend
      - payment-processor 
    deploy:
      resources:
        limits:
          cpus: "0.15"
          memory: "20MB"

  backend-01:
    <<: *backend-template
    image: ghcr.io/josimar-silva/rinha-de-backend-2025:latest
    hostname: backend-01
    profiles:
      - prod

  backend-02:
    <<: *backend-template
    image: ghcr.io/josimar-silva/rinha-de-backend-2025:latest
    hostname: backend-02
    profiles:
      - prod

  perf-backend-01:
    <<: *backend-template
    image: ghcr.io/josimar-silva/rinha-de-backend-2025/perf:0.2.1-snapshot
    hostname: backend-01
    profiles:
      - perf
    stop_signal: SIGINT
    volumes:
      - ./reports:/app/reports

  perf-backend-02:
    <<: *backend-template
    image: ghcr.io/josimar-silva/rinha-de-backend-2025/perf:0.2.1-snapshot
    hostname: backend-02
    profiles:
      - perf
    stop_signal: SIGINT
    volumes:
      - ./reports:/app/reports

  redis:
    image: redis:8.0.3-alpine
    hostname: redis
    command: redis-server --save "" --appendonly no --maxclients 20000
    ports:
      - "6379:6379"
    networks:
      - backend
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5
    deploy:
      resources:
        limits:
          cpus: "0.25"
          memory: "275MB"

networks:
  backend:
    driver: bridge
  payment-processor:
    external: true
